<!-- <div id="about" class="about"> -->
<div id = "about" class="wow fadeInUp animated">
    <h2>About me</h2>
    <!-- <img src="/images/mFace.png" width="100px" height="100px" ></img> -->
    
    <div id="about-me-card">
        <div id="avatar" class="wow slideInLeft"></div>
        <p class="wow slideInRight"> Hi! My name is Piotr Wolski, I am student of IT technologies. I'm trying to become full stack JS developer. </p>
    </div>
</div>