<!-- <div id="about" class="about"> -->
<div id = "about" class="wow fadeInUp animated">
    Hi! My name is Piotr Wolski, I am student of IT technologies.I'm trying to become full stack JS developer. 
</div>