<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/animate.css">
    <script src="/wow.min.js"></script>
    <script src="/typed.min.js"></script>
    <script>
        window.onload = () => {
            let wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 160,
            mobile: true,
            live: true
            });
            wow.init();
        }
        
        new WOW().init();
    </script>

    <link rel="stylesheet" type="text/css" href="appStyle.css">
</head>
<body>


    
    <!-- <h1 class="fromCenter">Expand from center</h1><br/>
    <h1 class="fromRight">Expand from right</h1><br/>
    <h1 class="fromLeft">Expand from left</h1> -->

    <div class = "app">
        <% include upNav %>
        <% include main %>
        <% include about %>
        <% include skills %> 
        <% include projects %>
        <% include contact %>
        <% include footer %> 
    </div>
</body>
</html>
