<div id="contact" class="contact">
    <form>
    <fieldset>
        <legend>Contact me</legend>
        <input type='text' placeholder="Name, company name"/>
        <input type="message" placeholder="Message"/>
        <button type="submit">send</button>
    </fieldset>
    </form>
</div>
