<main class="main">
    <h2 id="intro">
        
        <script>
        
            document.addEventListener('DOMContentLoaded', () => {    
                let typed = new Typed('#intro', {
                    strings: ["",'Hi, my name is Piotr Wolski.^1000', "I'm a frontend developer.^1000", "Welcome on my website :)"],
                    typeSpeed: 50,
                    loop: true,
                    smartBackspace: true
                });
            })
        </script>
        
    </h2>
</main>