<div id = "skills" class="skills">
    <h2>I work with..</h2>
    <ul>
        <li class="wow fadeInLeft animated">JS</li>
        <li class="wow fadeInUp animated">html5</li>
        <li class="wow fadeInUp animated">css3</li>
        <li class="wow fadeInUp animated">node</li>
        <li class="wow fadeInUp animated">react</li>
        <li class="wow fadeInUp animated">npm</li>
        <li class="wow fadeInUp animated">Adobe Photoshop</li>
        <li class="wow fadeInUp animated">Windows</li>
        <li class="wow fadeInUp animated">Linux</li>
        
        <li class="wow animated fadeInRight">Github</li>
        
    </ul>
</div>
