<div class="skills">
    <h2>I work with..</h2>
    <ul>
        <li class="animated fadeInLeft">JS</li>
        <li>html5</li>
        <li>css3</li>
        <li>node</li>
        <li>react</li>
        <li>npm</li>
        <li>Adobe Photoshop</li>
        <li>Windows</li>
        <li>Linux</li>
        
        <li class="animated fadeInRight">Github</li>
        
    </ul>
</div>
