<div class="skills">
    <h2>I work with..</h2>
    
    <div class="skillsListRow">
        <div class="wow slideInLeft animated">
            <div class='flip3D'>
                <div class='front'>
                    <img src="icons/javascript-logo.svg" height="100px" width="100px">
                </div>
                <div class='back'>
                    <p> JavaScript </p>
                </div>
            </div>
        </div>
        <div class="wow slideInUp animated">
            <div class='flip3D'>
                <div class='front'>
                    <img src="icons/html5-logo.svg" height="100px" width="100px">
                </div>
                <div class='back'>
                    <p> HTML5 </p>
                </div>
            </div>    
        </div>
            
        <div class="wow slideInUp animated">
            <div class='flip3D'>
                <div class='front'>
                    <img src='icons/css-logo.svg' height="100px" width="100px">
                </div>
                <div class='back'>
                    <p> CSS3 </p> 
                </div>
            </div>
        </div>
        <div class="wow slideInUp animated">
            <div class='flip3D'>
                <div class='front'>
                    <img src='icons/node-logo.svg' height="100px" width="100px">
                </div>
                <div class='back'>
                    <p>  NodeJS </p>
                </div>
            </div>
        </div>
            
        <div class="wow slideInRight animated">
            <div class='flip3D'>
                <div class='front'>
                    <img src="icons/react-logo.svg" height="100px" width="100px">
                </div>
                <div class='back'>
                    <p>  ReactJS </p>
                </div>
            </div>
        </div>

    </div>

<!-- second row, column-->

    <div class="skillsListRow">
        <div class="wow slideInLeft animated">
            <div class="flip3D">
                <div class="front">
                    <img src='icons/npmjs-logo.svg' width="100px" height="100px">
                </div>
                <div class="back">
                    <p>  Node Package Manager </p>
                </div>
            </div>
        </div>

        <div class="wow slideInUp animated">
            <div class="flip3D">
                <div class="front">
                    <img src="icons/photoshop-logo.svg" width="100px" height="100px">
                </div>
                <div class="back">
                    <p> Adobe Photoshop </p>
                </div>
            </div>
        </div>
        <div class="wow slideInUp animated">
            <div class="flip3D">
                <div class="front">
                    <img src="icons/ubuntu-logo.svg" width="100px" height="100px">
                </div>
                <div class="back">
                    <p> Linux Ubuntu </p>   
                </div>
            </div>
        </div>  
        <div class="wow slideInUp animated">
            <div class="flip3D">
                <div class="front">
                    <img src="icons/windows-logo.svg" width="100px" height="100px">
                </div>
                <div class="back">
                    <p> MS Windows </p>  
                </div>
            </div>
        </div>
                    
        <div class="wow slideInRight animated">
            <div class='flip3D'>
                <div class='back'>
                    <p> Github </p>
                </div>
                <div class='front'>
                    <img src="icons/github-logo.svg" width="100px" height="100px">
                </div>
            </div>
        </div>
    </div>
</div>