.typed-cursor{
    display: none;
}
body{
    margin: 0;
}
h2 {
    text-transform: uppercase;
    text-align: center;
}

/* @media only screen a nd (max-width: 1080px) { */
    .app {
        --mBgColor: ;
        --mNavColor: ;
        --mBorderColor: ;
        --mSkillsColor: ;
        --mFooterColor: ;
        --mContactColor: ;
        --mAboutColor: ;
        --mProjectsColor: ;
        --mNavTextColor: ;
        --mSkillsH2Color: ;
        
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-areas: "navUp"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "about"
                             "skills"
                             "skills"
                             "skills"
                             "projects"
                             "contact"
                             "footer";
        grid-gap: 0;
        grid-auto-rows: minmax(100px, auto);
        background-color:var(--mBgColor);           
    }
    .upNav {
        color: white;
        grid-area: navUp;
        width: 100%;
        top: 0px;
        display: inline-block;
        background-color:var(--mNavColor);
        /* border-bottom: 1px solid var(--mBorderColor); */
    } 
    .upNav > a {
        float: right;
        color: mNavTextColor;
        width: 25%; 
        text-align: center;
        text-transform:uppercase; 
        text-decoration: none;
    }
    .upNav a:after {
        display:block;
        content: '';
        border-bottom: solid 3px black;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .upNav a:hover:after { transform: scaleX(1); }
    .upNav a.fromRight:after{ transform-origin:100% 50%; }
    .upNav a.fromLeft:after{  transform-origin:  0% 50%; }
    .main {
        color: whitesmoke;
        grid-area: main;
        background: url(images/bg_laptop_coffee.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        grid-auto-rows: min-content;
    }
    .main #intro {
        text-align: center;
    }
    #about {
        grid-area: about;
        background-color: var(--mAboutColor);
        text-indent: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #about-me-card{
        display: flex;
        flex-direction: row; 
        align-items: center;    
    
    }
    #avatar {
        margin-top: 20px;
        background: url(images/mFace.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    .skills {
        margin: auto;
        grid-area: skills;
        background-color: var(--mSkillsColor);
        text-align: center;
    }
    .skills > .skillsListRow {
        display: flex;
        flex-direction: row;
    }
    .projects {
        grid-area: projects;
        grid-auto-rows: min-content;
        background-color: var(--mProjectsColor);
        
    }
    .contact {
        grid-area: contact;
        grid-auto-rows: min-content;
        background-color: var(--mContactColor);
        text-align: center;
        
    }   
    .contact input{
        margin: auto;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        width: 50%;
    }
    .footer{
        background-color: var(--mFooterColor);
        grid-auto-rows: min-content;
        grid-area: footer;
        text-align: center;        
    }
/* small screens */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        background-color: var(--mBgColor);
    }
    .upNav{

        background-color: var(--mNavColor);
    }
    #about {
        display: flex;
        flex-direction: column;
    }
    #about-me-card{
        display: flex;
        flex-direction: column; 
    }
    /* #about h2{
        text-transform: uppercase;
    } */
    #avatar {
        background: url(images/mFace.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin: auto;
    }

    .skills {
        display: block;
        margin: auto;
        background-color: var(--mSkillsColor); 
        /* text-align: center; */
    }

    .skills > .skillsListRow {
        display: flex;
        flex-direction: column;
    }

    .flip3D{ 
        width:100px; 
        height:100px; 
        margin: 10px auto;	
    }

    .main #intro {
        text-align: center;
    }
}
 
