.typed-cursor{
    display: none;
}
body{
    margin: 0;
}
/* @media only screen and (max-width: 1080px) { */
    .app {
        --mBgColor: ;
        --mNavColor: ;
        --mBorderColor: ;
        --mSkillsColor: ;
        --mFooterColor: ;
        --mContactColor: ;
        --mAboutColor: ;
        --mProjectsColor: ;
        --mNavTextColor: ;
        --mSkillsH2Color: ;
        
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-areas: "navUp"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "main"
                             "about"
                             "skills"
                             "skills"
                             "skills"
                             "projects"
                             "contact"
                             "footer";
        grid-gap: 0;
        grid-auto-rows: minmax(100px, auto);
        background-color:var(--mBgColor);
            
    }
    .upNav {
        color: white;
        grid-area: navUp;
        width: 100%;
        /* position: fixed; */
        top: 0px;
        background-color:var(--mNavColor);
        /* border-bottom: 1px solid var(--mBorderColor); */
    } 
    
    .upNav > a {
        
        float: right;
        padding: 10px;
        margin: 20px;
        /* position: fixed;
        top: 0px; */

        color: mNavTextColor;
        display: inline-block; 
        margin:0;
        text-transform:uppercase; 
        text-decoration: none;  
    }

    .upNav a:after {
        display:block;
        content: '';
        border-bottom: solid 3px black;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        }
    .upNav a:hover:after { transform: scaleX(1); }
    .upNav a.fromRight:after{ transform-origin:100% 50%; }
    .upNav a.fromLeft:after{  transform-origin:  0% 50%; }
    
    
    .main {
        color: whitesmoke;
        grid-area: main;
        background: url(images/bg_laptop_coffee.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        grid-auto-rows: min-content;
    }

    .main #intro {
        text-align: center;
    }

    #about {
        grid-area: about;
        background-color: var(--mAboutColor);
        text-indent: 20px;
        display: flex;
        align-items: center;

    
    }
    .skills {
        grid-area: skills;
        background-color: var(--mSkillsColor);
        text-align: center;
        background-color: var(--mSkillsColor); 
    }
    .skills ul {
        
        column-count:5;
        -moz-column-count:5;
        -webkit-column-count:5;
    } 
    .skills ul li {
        margin: auto;
        text-transform: uppercase;
        display: inline-block;
        margin: auto;
        text-align: center;
        padding: 20px;
        background-color: white;
        margin: 20px;
    }
    
    .skills ul li:hover {
        background-color: yellow;
    }

    .projects {
        grid-area: projects;
        grid-auto-rows: min-content;
        background-color: var(--mProjectsColor);
        
    }

    .projects h2 {
        text-transform: uppercase;

    }

    

    .contact {
        grid-area: contact;
        grid-auto-rows: min-content;
        background-color: var(--mContactColor);
    }   
    .footer{
        background-color: var(--mFooterColor);
        grid-auto-rows: min-content;
        grid-area: footer;

        text-align: center;
        /* bottom: 0px; */
        display: flex;
        align-items: center;
    }
    
   

/* small screens */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        background-color: var(--mBgColor);
    }
    .upNav{

        background-color: var(--mNavColor);
    }

    .skills {
        display: block;
        margin: auto;
        background-color: var(--mSkillsColor); 
        text-align: center;
    }
    .skills h2 {
        text-transform: uppercase;
        color: var(--mSkillsH2Color);
    }

    .skills ul {
        /* display: inline-block; */
        column-count:1;
        -moz-column-count:1;
        -webkit-column-count:1;
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
        list-style: none;
        padding-left: 0;
        width: 100%;
    }

    .skills ul li{
     
        display: block;
        
        margin-bottom: 20px;

        
    }

    .main #intro {
        text-align: center;
    }
}
 
